* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-li {
  max-width: 400px;
  border: 1px solid lightseagreen;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.content {
  flex-grow: 0.5;
}

.content:last-child {
  text-align: center;
  margin: 10px auto;
  padding-left: 10px;
}

.content:first-child {
  margin-left: auto;
}

span {
  text-align: center;
  display: inline-block;
}