* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
  color: white;
  font-family: monospace;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.logo {
  font-size: 1.5em;
  text-transform: capitalize;
}

.main {
  min-height: 70px;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(34, 31, 31);
}

.list {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.list-li + .list-li {
  margin-left: 30px;
}

.list-li {
   padding: 10px 0;
}

.btn {
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 0.7em;
  border: 2px solid rgb(180, 170, 170);
  font-weight: bold;
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
}
